body{
    background-image: linear-gradient(#347FC4,pink);
    background-repeat: no-repeat;
  background-attachment: fixed;
}
li{
        color: white;
}
h1{
    color: white;
}
p{
    color: white;
}
header{
    background-color: rgb(128, 48, 208);
}
li:hover{
    background-color: yellow;
}